.outerHandle, .innerHandle {
  width: 20px;
  height: 20px;
  background-color: green;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}

.innerHandle {
  background-color: red;
}

.outer {
  background-color: mediumturquoise;
}

.inner {
  background-color: coral;
}
